body {
    margin-top: 54px;
}


.container{
   padding: 3rem;  
}

.customer-form{
    height: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
 }

textarea{
    border: 1px solid black !important;}



#message-cost-alert{
    display: none;
}



#loading-box{
    z-index: 2;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: auto;
}