{% extends 'layouts/base.html' %}
{% block body %}
{% set another = testing %}

<div class="container">

    <form class="customer-form" action="/add-customer/{{selected_list}}" method="POST">
        <input autocomplete="off" name="nom" type="text" placeholder="nom">
        <input autocomplete="off" name="prenom" type="text" placeholder="prenom">
        <input autocomplete="off" name="phone" type="phone" placeholder="telephone">
        <input type="submit" value="ajouter">
    </form>
    {% if phone_error %}
    <div id="" class="alert alert-warning alert-dismissible fade show">
        <strong>Attention!</strong> Le numéro de téléphone {{phone_error}}
        existe déjà.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="dropdown">

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" value="Last Name" selected="selected" href="#">Nom de famille</a></li>
          <li><a class="dropdown-item" value="First Name"href="#">Prénom</a></li>
          <li><a class="dropdown-item" value="Phone" href="#">Numéro</a></li>
        </ul>
      </div>

      <select name="user-search-field" id="user-search-field">
        <option value="Last Name" selected="selected" >Last Name</option>
        <option value="First Name">First Name</option>
        <option value="Phone">Phone</option>
      </select>
      
    <div class="form-check">
        {% block form %}
        <textarea name="body" oninput="searchUser(this, '{{selected_customer_list}}')" id="form10"
          class="md-textarea form-control" rows="3"></textarea>
        {% endblock %}

      </div>


    <div class="row">
        <div class="col-md-10 mx-md-auto pt-5">
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in customers %}
                    <tr>
                        <td>{{n['Last Name']}} </td>
                        <td>{{n['First Name']}}</td>
                        <td>{{ n['Phone']}}</td>
                        <td> <a href="/delete/{{selected_list}}/{{ n['Phone']
                                }}">Supprimer</a>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                    href="{{domain_name}}{{url_path}}?page={{pagination['first-page']}}">first</a></li>
            {% if pagination['previous-page'] is not none %}

            <li class="page-item"><a class="page-link"
                    href="{{domain_name}}{{url_path}}?page={{pagination['previous-page']}}">{{pagination["previous-page"]}}</a>
            </li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="#">{{pagination["current-page"]}}</a></li>

            {% if pagination['next-page'] is not none %}

            <li class="page-item"><a class="page-link"
                    href="{{domain_name}}{{url_path}}?page={{pagination['next-page']}}">{{pagination["next-page"]}}</a>
            </li>
            {% endif %}

            <li class="page-item"><a class="page-link"
                    href="{{domain_name}}{{url_path}}?page={{pagination['last-page']}}">last</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/search-customer.js') }}"></script>
{% endblock %}