{% extends 'layouts/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-md-auto pt-5">
            <h1>Your profile</h1>
            {% if current_user.is_authenticated %}
                <div>
                    <h2>Welcome {{current_user.first_name + " " + current_user.last_name}}!</h2>
                    <p>Your email address is: {{current_user.email}}</p>
                </div>
            {% else %}
                <p>You are not logged in.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}