{% extends 'layouts/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-md-auto pt-5">
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>List</th>
                        <th>Cost</th>
                        <th>Success</th>
                        <th>Failures</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in campaigns %}
                    <tr>
                        <td>{{n['id']}} </td>
                        <td>{{n['timestamp']}}</td>
                        <td>{{ n['message']}}</td>
                        <td>{{ n['selected_list']}}</td>
                        <td>{{ n['cost']}}</td>
                        <td>{{ n['successes']}}</td>
                        <td>{{ n['failures']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}